<div class="container">
<p-table [columns]="cols" [value]="events" selectionMode="single" [(selection)]="selectedEvent" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th>
              <button type="button" pButton icon="fa-plus" (click)="addEvent()" label="Add"></button>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
          <td> 
            <button type="button" pButton icon="fa fa-pencil" label="Edit"></button>
            <button type="button" pButton icon="fa fa-trash" label="Delete"></button>
          </td>
      </tr>
       
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
      <!-- <div style="text-align:left">
          <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div> -->
  </ng-template>
  
</p-table>
</div>
<router-outlet></router-outlet>