.container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}
:host ::ng-deep {
    .calendar .fc-view-container{
         margin-bottom: 50px;
    }
}

:host {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%; 
    flex-direction: column;
  }
  p {
    width: 80%;
  }
  .active {
    color: chocolate;
  }
  .origin {
     cursor: pointer;
     text-decoration: underline;
  }