
<div class="container row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
               Titulo del evento
            </div>
            <div class="card-block">
                <div class="card-title">
                    Fecha : 01/05/2018
                </div>
                <div class="card-text">
                    ...descripcion
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Editar</button>
                <!-- <button class="btn btn-sm btn-link"></button> -->
            </div>
        </div>
    </div>
</div>